<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="5.0">
  <display-name>Leah</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>InventoryManagementServlet</display-name>
    <servlet-name>InventoryManagementServlet</servlet-name>
    <servlet-class>com.ecommerce.registration.InventoryManagementServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InventoryManagementServlet</servlet-name>
    <url-pattern>/InventoryManagementServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LogoutServlet</display-name>
    <servlet-name>LogoutServlet</servlet-name>
    <servlet-class>com.ecommerce.registration.LogoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogoutServlet</servlet-name>
    <url-pattern>/LogoutServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>InventoryManagementServlets</display-name>
    <servlet-name>InventoryManagementServlets</servlet-name>
    <servlet-class>com.ecommerce.registration.InventoryManagementServlets</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InventoryManagementServlets</servlet-name>
    <url-pattern>/InventoryManagementServlets</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteCategory</display-name>
    <servlet-name>DeleteCategory</servlet-name>
    <servlet-class>com.ecommerce.registration.DeleteCategory</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteCategory</servlet-name>
    <url-pattern>/DeleteCategory</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EditManagerServlet</display-name>
    <servlet-name>EditManagerServlet</servlet-name>
    <servlet-class>com.ecommerce.registration.EditManagerServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditManagerServlet</servlet-name>
    <url-pattern>/EditManagerServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SearchServlet</display-name>
    <servlet-name>SearchServlet</servlet-name>
    <servlet-class>com.ecommerce.registration.SearchServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchServlet</servlet-name>
    <url-pattern>/SearchServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EditServlet</display-name>
    <servlet-name>EditServlet</servlet-name>
    <servlet-class>com.ecommerce.registration.EditServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditServlet</servlet-name>
    <url-pattern>/EditServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EditUsers</display-name>
    <servlet-name>EditUsers</servlet-name>
    <servlet-class>com.ecommerce.registration.EditUsers</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditUsers</servlet-name>
    <url-pattern>/EditUsers</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EditUsersServlet</display-name>
    <servlet-name>EditUsersServlet</servlet-name>
    <servlet-class>com.ecommerce.registration.EditUsersServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditUsersServlet</servlet-name>
    <url-pattern>/EditUsersServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CheckoutServlet</display-name>
    <servlet-name>CheckoutServlet</servlet-name>
    <servlet-class>com.ecommerce.registration.CheckoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CheckoutServlet</servlet-name>
    <url-pattern>/CheckoutServlet</url-pattern>
  </servlet-mapping>
</web-app>